<div class="col-lg-12">
	<div class="row air-b">
		<div class="col-lg-12">
			<button class="btn btn-primary" id="new-service-request">
				<i class="fa fa-plus"></i> Nueva Orden de Servicio
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table id="service_requests-table-{{timestamp}}" class="table table-striped table-bordered table-hover table-office dataTable" aria-describedby="service_requests-table-info">
				<thead>
					<tr>
						<th>ID</th>
						<th>Cliente</th>
						<th>Cant. de Equipos</th>
						<th>Estado</th>
						<th>Creado</th>
						<th>Finalizado</th>
						<th class="text-center"><i class="fa fa-wrench"></i></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all" id="service_requests">
				</tbody>
			</table>
		</div>
	</div>
</div>