<div class="form-horizontal">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-6 col-md-8 col-xs-8">
			<div class="form-group">
				<label for="client_name" class="col-xs-2 control-label">Cliente</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="client_name" placeholder="Seleccione un Cliente" value="{{client_name}}" readonly>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Buscar Cliente" id="select-client">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-4">
			<div class="form-group">
				<label for="invoiceNumber" class="col-xs-4 control-label">Remito</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="invoiceNumber" placeholder="e.j: A142985" value="{{invoiceNumber}}" {{#if invoiceNumber}}readonly{{/if}}>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6" style="display: none;">
			<div class="form-group">
				<label for="client_id" class="col-xs-4 control-label">ID Cliente</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="client_id" placeholder="Juan Perez" value="{{client_id}}" {{#if client_id}}readonly{{/if}}>
				</div>
			</div>
		</div>
	</div>
	<hr style="margin-top: 0">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-md-12">
			<div class="row" id="appliance-views"></div>
		</div>
		<div class="col-lg-offset-1 col-lg-10 col-md-12">
			<button {{#unless client_id}}disabled{{/unless}} class="btn btn-success" id="single-appliance">
				<i class="fa fa-plus"></i> Nuevo Equipo
			</button>
			<button {{#unless client_id}}disabled{{/unless}} class="btn btn-success" id="multiple-appliance">
				<i class="fa fa-table"></i> Carga Masiva
			</button>
			<hr style="margin-bottom: 0;">
		</div>
	</div>
	<div class="form-group" style="margin-top: 10px;">
		{{#unless _id}}
			<div class="col-xs-offset-10 col-xs-2">
				<button type="submit" class="btn btn-dark-blue pull-right" disabled>Crear</button>
			</div>
		{{else}}
			<div class="col-xs-offset-10 col-xs-2">
				<button id="update-form" class="btn btn-warning pull-right">Actualizar</button>
			</div>
		{{/unless}}
	</div>
</div>