doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Service Request Administrator")
		meta(name="author" content="Guzman Monne")

		title AOS - Login

		script(src='/js/libs/jquery.min.js')
		script(src='/js/libs/bootstrap.min.js')
		script(src='/js/libs/handlebars.js')
		script(src='/js/libs/underscore.min.js')
		script(src='/js/libs/backbone.min.js')
		script(src='/js/libs/backbone.giraffe.min.js')
		script(src='/js/libs/jquery.metisMenu.js')
		script(src='/js/libs/sb-admin.js')
		script(src='/js/templates.js')
		script(src='/js/client.js')

		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/animate.css')
		link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/css/styles.min.css')
	body
		#wrapper
			// ======
			// HEADER
			// ======
			header(id="nav-el")
			// =======
			// SIDEBAR 
			// =======
			aside(id="sidebar-el" class="sidebar-collapse")
				nav(class="navbar-inverse navbar-static-side" role="navigation")
					include includes/sidebar
			// =======
			// CONTENT 
			// =======
			section#page-wrapper.make-space-right
				#content-el