*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* heading */
h1 {
	font: bold 100% sans-serif; 
	text-transform: uppercase;
}

h1.title { 
	letter-spacing: 0.5em; 
	text-align: center;  
}

/* table */
table { 
	font-size: 75%; 
	table-layout: fixed; 
	width: 100%; 
}
table { 
	border-collapse: separate; 
	border-spacing: 2px; 
}
th, td { 
	border-width: 1px; 
	padding: 0.5em; 
	position: relative; 
	text-align: left; 
}
th, td { 
	border-radius: 0.25em; 
	border-style: solid; 
}
th { 
	background: #EEE; 
	border-color: #BBB;
}
td { 
	border-color: #DDD; 
}

html { 
	font: 16px/1 'Open Sans', sans-serif; 
	overflow: auto; 
	padding: 0.5in; 
}
html { background: #999; cursor: default; }

/* page */
body { 
	box-sizing: border-box; 
	height: 11in; 
	margin: 0 auto; 
	overflow: hidden; 
	padding: 0.5in; 
	width: 8.5in; 
}
body { 
	background: #FFF; 
	border-radius: 1px; 
	box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); 
}

/* header */

header { 
	margin: 0 0 3em; 
}
header:after { 
	clear: both; 
	content: ""; 
	display: table; 
}

header h1 { 
	background: #000; 
	border-radius: 0.25em; 
	color: #FFF; 
	margin: 0 0 1em; 
	padding: 0.5em 0; 
}
header address { 
	float: left; 
	font-size: 75%; 
	font-style: normal; 
	line-height: 1.25; 
	margin: 0 1em 1em 0; 
}
header address p { 
	margin: 0 0 0.25em; 
}
header span, header img { 
	display: block; float: right; 
}
header span { 
	margin: 0 0 1em 1em; 
	max-height: 25%; 
	max-width: 60%; position: 
	relative; 
}
header img { 
	max-height: 100%; 
	max-width: 100%; 
}

/* article */

article, article address, table.meta, table.inventory { 
	margin: 0 0 3em; 
}
article:after { 
	clear: both; 
	content: ""; 
	display: table; 
}
article address { 
	float: left; 
	font-size: 125%; 
	font-weight: bold; 
}

/* table items */

table.inventory { 
	clear: both; 
	width: 100%; 
}
table.inventory th { 
	font-weight: bold; 
	text-align: center; 
}

table.table-inventory td:nth-child(1) { 
	width: 26%; 
}
table.table-inventory td:nth-child(2) { 
	width: 38%; 
}
table.table-inventory td:nth-child(3) { 
	text-align: right; 
	width: 12%; 
}
table.table-inventory td:nth-child(4) { 
	text-align: right;
	width: 12%; 
}
table.table-inventory td:nth-child(5) { 
	text-align: right; 
	width: 12%; 
}

/* aside */

aside h3 { 
	border: none;
 	border-width: 0 0 1px;
 	margin: 0 0 1em;
}
aside h3 { 
	border-color: #999;
 	border-bottom-style: solid;
}

/* Bootstrap Override */
.col-xs-6 {
	width: 46%;
}

.col-xs-12 {
	width: 96%
}

@media print {
	* { 
		-webkit-print-color-adjust: exact; 
	}
	html { 
		background: none; 
		padding: 0; 
	}
	body { 
		box-shadow: none; 
		margin: 0; 
	}
	span:empty { 
		display: none; 
	}
	.add, .cut { 
		display: none; 
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	  float: left;
	}
	.col-sm-12 {
	  width: 100%;
	}
	.col-sm-11 {
	  width: 91.66666666666666%;
	}
	.col-sm-10 {
	  width: 83.33333333333334%;
	}
	.col-sm-9 {
	  width: 75%;
	}
	.col-sm-8 {
	  width: 66.66666666666666%;
	}
	.col-sm-7 {
	  width: 58.333333333333336%;
	}
	.col-sm-6 {
	  width: 50%;
	}
	.col-sm-5 {
	  width: 41.66666666666667%;
	}
	.col-sm-4 {
	  width: 33.33333333333333%;
	 }
	 .col-sm-3 {
	   width: 25%;
	 }
	 .col-sm-2 {
	   width: 16.666666666666664%;
	 }
	 .col-sm-1 {
	  width: 8.333333333333332%;
	 }

}