/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #f8f8f8;
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        margin: 0;
        position: inherit;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
        transition: margin 1s cubic-bezier(.74,0,.34,1);
    }

    #page-wrapper.make-space-right {
      margin: 0 0 0 250px;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li a.second-level-active {
  background-color: #C2C2C2;
}

.nav-second-level li a.third-level {
  border-bottom: 1px solid #AFAFAF;
}

.nav-second-level li a.second-level-active.third-level {
  background-color: #DFDFDF;
  border-bottom: 2px solid #AFAFAF;
}

.nav-second-level li a.second-level-active:hover {
  background-color: #B2B2B2;
}

.nav-second-level li a.second-level-active.third-level:hover {
  background-color: #CFCFCF;
  border-bottom: 2px solid #BFBFBF;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .portlet {
      margin-bottom: 30px;
    }
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* Overrides */
#content-el {
  padding-top: 30px;
}

/* TITLES */
h1, h2, h3, h4, h5, h5 {
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* NAVBARS */
.navbar-static-side ul li {
  border-bottom: 1px solid #3c3c3c;
  background-color: #34495e;
}

.navbar-static-side a,
.navbar-static-top a{
  color: #fff;
}

.navbar-static-side a.active,
.navbar-static-top a.active {
  background-color: #2c3e50;
}

body {
  background-color: #34495e;
}

.navbar-inverse {
  background-color: #2c3e50;
  border-color: #3c3c3c;
}

.navbar-static-side ul li,
.navbar-static-side {
  border-top: 1px solid #546779;
  border-bottom: 1px solid #142638;
}

.navbar-static-side ul li a:hover {
  background-color: #2c3e50;
  color: #F7F7F7;
}

.navbar-static-side ul li ul li a:hover {
  background-color: #ecf0f1;
  color: #333;
}

.nav-second-level li a{
  color: #333;
  background-color: #F7F7F7;
}

.navbar-static-side ul li:first-child {
  border-top: none;
}

/* ************ */
/* Navbar Links */
/* ************ */
nav.navbar-static-top a:hover {
  color: #fff !important;
  background: #34495e !important
}

nav.navbar-static-top a.messages-link {
  background: #16a085 !important
}
nav.navbar-static-top a.messages-link:hover {
  color: #16a085 !important;
  background: #22685A !important
}
nav .open>a.messages-link,
nav .open>a.messages-link:hover {
  color: #16a085 !important;
  background: #22685A !important
}
nav.navbar-static-top a.tasks-link {
  background: #f39c12 !important
}
nav.navbar-static-top a.tasks-link:hover {
  color: #f39c12 !important;
  background: #986008 !important
}
nav .open>a.tasks-link,
nav .open>a.tasks-link:hover {
  color: #f39c12 !important;
  background: #986008 !important
}
nav.navbar-static-top a.alerts-link {
  background: #2980b9 !important
}
nav.navbar-static-top a.alerts-link:hover {
  color: #2980b9 !important;
  background: #255575 !important
}
nav .open>a.alerts-link,
nav .open>a.alerts-link:hover {
  color: #2980b9 !important;
  background: #255575 !important
}


/* Air */
.air-b {
  margin-bottom: 15px;
}

.air-t {
  margin-top: 15px;
}

.air-t-b,
.air-b-t {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* FORMS */
.input-group-sm>.form-control, 
.input-group-sm>.input-group-addon, 
.input-group-sm>.input-group-btn>.btn, 
.input-group-lg>.form-control, 
.input-group-lg>.input-group-addon, 
.input-group-lg>.input-group-btn>.btn, 
.list-group-item:first-child, 
.list-group-item:last-child, 
.modal-flex, .btn-square, 
.squared, 
.form-control, 
.input-group-addon, 
.input-group-btn .btn, 
.dropdown-menu, 
.panel-group .panel, 
.panel-group 
.panel-heading, 
.breadcrumb, 
.nav-tabs > li > a {
  border-radius: 0;
}

input, select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.portlet {
  border: 1px solid;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading, 
.portlet-dark-blue>.portlet-heading {
  border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
  color: #fff;
  background-color: #34495e;
}

.portlet-green{
  .border-color: #16a085;
}

.portlet-green>.portlet-heading{
  color: #fff;
  background-color: #16a085;
}

.portlet-green,
.portlet-green>.portlet-heading {
  border-color: #16a085;
}

.portlet-red,
.portlet-red>.portlet-heading {
  border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
  color: #fff;
  background-color: #e74c3c;
}

.portlet .portlet-heading {
  padding: 0 15px;
}

.portlet .portlet-heading .portlet-title {
  float: left;
}

.portlet .portlet-heading .portlet-widgets {
  float: right;
  margin: 8px 0 0 5px;
}

.portlet .portlet-heading .portlet-widgets a{
  color: #fff
}

.portlet .portlet-heading .portlet-widgets a.text-danger{
  color: #FF4B45;
}

.portlet .portlet-body {
  padding: 15px;
  background: #fff;
}

.form-control-under {
  margin-top: 3px;
}

.control-label-under {
  text-align: left; 
  padding-top:6px; 
  margin-top: 3px;
}

/* BREADCRUMBS */
.page-title {
  margin: 15px 0;
}

.page-title h1 {
  margin: 0 10px;
  font-size: 26px;
}

.page-title .breadcrumb {
  margin-bottom: 0;
  background-color: #e0e7e8;
}

.page-title small {
  font-size: 18px;
}

/* BUTTONS */
.btn-dark-blue {
  border-color: #314559;
  color: #fff;
  background-color: #34495e;
}

.btn-dark-blue:hover {
  border-color: #2c3e50;
  color: #fff;
  background-color: #2f4254;
}

.btn-dark-blue:focus {
  color: #fff;
}

.btn-orange {
  border-color: #e79411;
  color: #fff;
  background-color: #f39c12;
}

.btn-orange:hover {
  color: #fff;
  background-color: #e79411;
}

.btn-orange:focus {
  color: #fff;
  background-color: #e79411;
}

.btn-green {
  color: #fff;
  background-color: #1abc9c;
}

.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}

.btn-green:active {
  background: #16a085;
  border-color: #16a085;
}

.btn-fixed {
  position: fixed;
  display: block;
  background-color: #000;
  color: #fff;
  z-index: 1;
  opacity: 0.3;
  transition: all 1s;
}

.btn-fixed:hover {
  opacity: 1;
  color: #fff;
}

.btn-fixed.btn-fixed-l-d-corner {
  right: 1%;
  top: 96%;
}

.btn-fixed.btn-fixed-r-d-corner {
  left: 1%;
  top: 96%;
}

/* TABLES */
table.table-office thead {
  color:#D5DDE5;;
  background: #2c3e50;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

table.table-office-green thead {
  color:#FFF;;
  background: #16a085;
}  

th{
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.table-striped>tbody>tr.selected:nth-child(odd)>td, 
.table-striped>tbody>tr.selected:nth-child(odd)>th {
  background-color: #405972;
  color: #fff;
}

.table>thead>tr>.selected, 
.table>tbody>tr>.selected, 
.table>tfoot>tr>.selected, 
.table>thead>.selected>td, 
.table>tbody>.selected>td, 
.table>tfoot>.selected>td, 
.table>thead>.selected>th, 
.table>tbody>.selected>th, 
.table>tfoot>.selected>th {
  background-color: #405972;
  color: #fff;
}

.table-hover>tbody>tr>.selected:hover, 
.table-hover>tbody>.selected:hover>td, 
.table-hover>tbody>.selected:hover>th {
  background-color: #283B4D;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-hover>tbody>tr:hover>td, 
.table-hover>tbody>tr:hover>th {
  /*background-color: #55708B;*/
  /*background-color: #428bca;*/
  background-color: #2980B9;
}

.table-hover>tbody>tr.selected:hover>td, 
.table-hover>tbody>tr.selected:hover>th {
  background-color: #283B4D;
}

tr:hover td {
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background    :#FFFFFF;
  padding       :20px;
  text-align    :left;
  vertical-align:middle;
  text-shadow   : -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right  : 1px solid #C1C3D1;
}

td.center-vh{
  text-align    : center;
}

.table>tbody>tr>td.center-vh{  
  vertical-align: middle;
}

/* BS-CALLOUT */
.bs-callout {
  margin: 20px;
  padding: 20px;
  border-left: 3px solid #ddd;
  background-color: #eee;
}

.bs-callout:hover {
  background-color: #D4D4D4;
  border-color: #636363;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0; 
}

.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}

.bs-callout-danger:hover {
  background-color: #FBE8E8;
  border-color: #CC3B36;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-success {
  background-color: #E5FFE5;
  border-color: #5BB75B;
}

.bs-callout-success:hover {
  background-color: #E5FFE5;
  border-color: #47CC47;
}

.bs-callout-success h4 {
  color: #317931;
}