<table id="clients-table" class="table table-striped table-bordered table-hover table-green dataTable" aria-describedby="clients-table-info">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Documento</th>
			<th>Telefono/s</th>
			<th>Dirección/es</th>
			<th>E-mail</th>
			<th>Controles</th>
		</tr>
	</thead>
	<tbody role="alert" aria-live="polite" aria-relevant="all" id="clients">
	</tbody>
</table>
			