<form class="form-horizontal">
	<div class="form-group">
		<label for="name" class="col-xs-2 control-label">Nombre</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" name="name" placeholder="e.j: Juan Perez" value="{{name}}">
		</div>
	</div>
	<div class="form-group">
		<label for="doc" class="col-xs-2 control-label">Doc</label>
		<div class="col-xs-3">
			<select name="doc-type" class="form-control">
				<option value="CI" {{#is "CI" doc-type}}selected="true"{{/is}}>C.I.</option>
				<option value="RUT" {{#is "RUT" doc-type}}selected="true"{{/is}}>R.U.T</option>
				<option value="DNI" {{#is "DNI" doc-type}}selected="true"{{/is}}>DNI</option>
				<option value="Pasaporte" {{#is "Pasaporte" doc-type}}selected="true"{{/is}}>Pasaporte</option>
			</select>
		</div>
		<div class="col-xs-7">
			<input type="text" class="form-control" name="doc-number" placeholder="e.j: 41234568" value="{{doc-number}}">
		</div>
	</div>
	<div class="form-group" id="phone-numbers"></div>
	<div class="form-group" id="addresses"></div>
	<div class="form-group">
		<label for="email" class="col-xs-2 control-label">E-mail</label>
		<div class="col-xs-10">
			<input type="email" class="form-control" name="email" placeholder="e.j: ejemplo@server.com" value="{{email}}">
		</div>
	</div>
	<hr>
	<div class="form-group">
		{{#unless _id}}
			<div class="col-xs-offset-2 col-xs-8">
				<button type="submit" class="btn btn-dark-blue">
					<i class="fa fa-save"></i>
					Crear
				</button>
			</div>
		{{else}}
			<div class="col-xs-offset-2 col-xs-8">
				<button id="update-form" class="btn btn-warning update-buttons hide">
					<i class="fa fa-save"></i>
					Actualizar
				</button>
			</div>
			<div class="col-xs-offset-2 col-xs-8">
				<button id="edit-form" class="btn btn-primary update-buttons">
					<i class="fa fa-pencil"></i>
					Editar
				</button>
			</div>
		{{/unless}}
	</div>
</form>
