<div class="col-lg-12">
	<div class="portlet portlet-default">
		<div class="portlet-heading">
			<div class="portlet-title">
				<h4>Nuevo Cliente</h4>
			</div>
			<div class="portlet-widgets">
				<a href="#formControls" data-toggle="collapse" data-parent="#accordion">
					<i class="fa fa-chevron-down"></i>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="formControls" class="panel-collapse in" style="height: auto;">
			<div class="portlet-body">
				<div class="row" id="client-form"></div>
			</div>
		</div>	
	</div>
</div>