<div class="col-sm-8 col-sm-offset-2">
	<input type="text" class="form-control form-control-under" value="{{phoneNumber}}" id="{{timestamp}}" data-type="phone-number">
</div>​<div class="col-sm-2">
	<button type="button" class="btn btn-danger form-control-under del-phone-number" tabindex = "-1" data-phone-id="{{timestamp}}">
		<i class="fa fa-minus"></i>
	</button>
</div>