<table class="table table-striped table-bordered table-hover table-office" style="width: 100%">
	<thead>
		<tr>
			<th>Modelo</th>
			<th style="width: 90px">Cantidad</th>
			<th style="width: 150px">Tipo de Rep.</th>
			<th style="width: 70px">Detalles</th>
			<th class="text-center" style="width: 50px">
				<i class="fa fa-wrench"></i>
			</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>