<h3 style="margin-top: 5px; margin-bottom: 15px">
  Equipos 
  <button id="form-view" class="btn btn-info pull-right" data-view="control" data-toggle="tooltip" data-placement="top" title="Vista Formulario">
    <i class="fa fa-list fa-fw"></i>
  </button>
  <button id="table-view" class="btn btn-info pull-right active" data-view="control" style="margin-right: 10px" data-toggle="tooltip" data-placement="top" title="Vista Tabla">
    <i class="fa fa-table fa-fw"></i>
  </button>
</h3>
<div class="hide" id="tech-appliances-carousel" data-view="container"></div>