
  <a data-toggle="dropdown" href="#" class="dropdown-toggle messages-link">
    <i class="fa fa-envelope fa-fw">
    </i>
    <i class="fa fa-caret-down">
    </i>
  </a>
  <!-- DROPDOWN MESSAGES BEGIN-->
  <ul class="dropdown-menu dropdown-messages">
    <li>
      <a href="#">
        <div>
          <strong>
            Guzman Monne
          </strong>
          <span class="pull-right text-muted">
            <em>
              Yesterday
            </em>
          </span>
        </div>
        <div>
          lorem ipsum sit amet, concsefic adipscil elit.
        </div>
      </a>
    </li>
    <li class="divider">
    </li>
    <li>
      <a class="#">
        <div>
          <strong>
            Guzman Monne
          </strong>
          <span class="pull-right text-muted">
            <em>
              Yesterday
            </em>
          </span>
        </div>
        <div>
          All my troubles seem so far away. Now I'm here just seeing you say. Oh, I believe in yesterday
        </div>
      </a>
    </li>
    <li class="divider">
    </li>
    <li>
      <a href="#" class="text-center">
        <strong>
          Read all messages 
        </strong>
        <i class="fa fa-angle-right">
        </i>
      </a>
    </li>
  </ul>
  <!-- DROPDOWN MESSAGES END-->
