<div class="modal-dialog {{#if class}}{{class}}{{/if}}">
	<div class="modal-content">
		{{#if header}}
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
	  </div>
	  {{/if}}
	  <div class="modal-body"></div>
	  {{#if footer}}
	  <div class="modal-footer">
	  	{{#if customFooter}}
	  		{{customFooter}}
	  	{{else}}
		    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		    <button type="button" class="btn btn-primary">Guardar</button>
	    {{/if}}
	  </div>
	  {{/if}}
	</div>
</div>