<div class="navbar-header">
    <button class="navbar-toggle" data-target=".sidebar-collapse"
    data-toggle="collapse" type="button"><span class=
    "sr-only">Toggle navigation</span></button><a class=
    "navbar-brand" href="/">AOS</a>
</div><!-- NAVBAR HEADER-->

<ul class="nav navbar-top-links navbar-left">
    <li class="tooltip-sidebar-toggle"><a data-original-title=
    "Sidebar Toggle" data-placement="right" data-toggle="tooltip"
    href="#" id="sidebar-toggle" title=""></a></li>
</ul>

<ul class="nav navbar-top-links navbar-right">
    <!-- DROPDOWN BEGIN-->

    <li class="dropdown">
        <a class="dropdown-toggle messages-link" data-toggle=
        "dropdown" href="#"></a><!-- DROPDOWN MESSAGES BEGIN-->

        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="#"></a>

                <div>
                    <strong>Guzman Monne</strong><span class=
                    "pull-right text-muted"><em>Yesterday</em></span>
                </div>

                <div>
                    lorem ipsum sit amet, concsefic adipscil elit.
                </div>
            </li>

            <li>
                <a class="#"></a>

                <div>
                    <strong>Guzman Monne</strong><span class=
                    "pull-right text-muted"><em>Yesterday</em></span>
                </div>

                <div>
                    All my troubles seem so far away. Now I'm here
                    just seeing you say. Oh, I believe in yesterday
                </div>
            </li>

            <li><a class="text-center" href="#"><strong>Read all
            messages</strong> </a></li>
        </ul><!-- DROPDOWN MESSAGES END-->
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle tasks-link" data-toggle=
        "dropdown" href="#"></a>

        <ul class="dropdown-menu dropdown-tasks">
            <li>
                <a href="#"></a>

                <div>
                    <p><strong>Task 1</strong><span class=
                    "pull-right text-muted">40% Complete
                    (success)</span></p>

                    <div class="progress progress-striped active">
                        <div class=
                        "progress-bar progress-bar-success" style=
                        "width: 40%">
                            <span class="sr-only">40% Complete
                            (success)</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    <p><strong>Task 2</strong><span class=
                    "pull-right text-muted">60% Complete
                    (warning)</span></p>

                    <div class="progress progress-striped active">
                        <div class=
                        "progress-bar progress-bar-warning" style=
                        "width: 60%">
                            <span class="sr-only">60% Complete
                            (warning)</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    <p><strong>Task 3</strong><span class=
                    "pull-right text-muted">20% Complete
                    (info)</span></p>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info"
                        style="width: 20%">
                            <span class="sr-only">20% Complete
                            (info)</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    <p><strong>Task 4</strong><span class=
                    "pull-right text-muted">80% Complete
                    (danger)</span></p>

                    <div class="progress progress-striped active">
                        <div class=
                        "progress-bar progress-bar-danger" style=
                        "width: 80%">
                            <span class="sr-only">80% Complete
                            (danger)</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle alerts-link" data-toggle=
        "dropdown" href="#"></a>

        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#"></a>

                <div>
                    New Comment <span class=
                    "pull-right text-muted small">4 minutes
                    ago</span>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    3 New Followers<span class=
                    "pull-right text-muted small">12 minutes
                    ago</span>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    Message Sent<span class=
                    "pull-right text-muted small">6 minutes
                    ago</span>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    New Task<span class=
                    "pull-right text-muted small">20 minutes
                    ago</span>
                </div>
            </li>

            <li>
                <a href="#"></a>

                <div>
                    Server Rebooted<span class=
                    "pull-right text-muted small">20 minutes
                    ago</span>
                </div>
            </li>

            <li><a class="text-center" href="#"><strong>See All
            Alerts</strong> </a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href=
        "#"></a>

        <ul class="dropdown-menu dropdown-user">
            <li><a href="#">User Profile</a></li>

            <li><a href="#">Settings</a></li>

            <li><a href="#">Logout</a></li>
        </ul>
    </li>
</ul>