<div class="sidebar-collapse">
	<ul id="side-menu" class="nav">
		<li class="text-center">
			<img src="http://placehold.it/150x150" alr="User Image" class="img-circle air-t-b">
			<p class="text-muted">
				<i class="fa fa-key"></i> Guzmán <strong>Monné</strong>
			</p>
		</li>
		<li class="sidebar-search"></li>
		<li>
			<a href="#">
				<i class="fa fa-dashboard fa-fw"></i> Dashboard
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-users fa-fw"></i> Clientes 
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>				
					<a href="#render/client/new">
						<i class="fa fa-plus fa-fw"></i> Nuevo
					</a>
				</li>
				<li>				
					<a href="#render/client/index">
						<i class="fa fa-list-alt fa-fw"></i> Lista
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-clipboard fa-fw"></i> Ordenes de Servicio
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>
					<a href="#render/service_request/new">
						<i class="fa fa-plus fa-fw"></i> Nuevo
					</a>
				</li>
				<li>
					<a href="#render/service_request/index">
						<i class="fa fa-list-alt fa-fw"></i> Lista
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-desktop fa-fw"></i> Equipos 
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>				
					<a href="#render/appliance/index">
						<i class="fa fa-list-alt fa-fw"></i> Lista
					</a>
				</li>
				<li>
					<a href="#" class="third-level">
						<i class="fa fa-ellipsis-h fa-fw"></i> Modelos
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-third-level">
						<li>
							<a href="#render/model/new">
								<i class="fa fa-plus fa-fw"></i> Nuevo
							</a>
						</li>
						<li>
							<a href="#render/model/index">
								<i class="fa fa-list-alt fa-fw"></i> Lista
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>