<div class="sidebar-collapse">
	<ul id="side-menu" class="nav">
		<li class="text-center">
			<img src="http://placehold.it/150x150" alr="User Image" class="img-circle air-t-b">
			<p class="text-muted">
				<i class="fa fa-key"></i> Guzmán <strong>Monné</strong>
			</p>
		</li>
		<li class="sidebar-search"></li>
		<li>
			<a href="#">
				<i class="fa fa-dashboard fa-fw"></i> Dashboard
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-users fa-fw"></i> Clientes 
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>				
					<a href="#render/client/index">
						<i class="fa fa-list-alt fa-fw"></i> Lista de Clientes
					</a>
				</li>
				<li>				
					<a href="#render/client/new">
						<i class="fa fa-plus fa-fw"></i> Nuevo Cliente
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-table fa-fw"></i> Tables
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-edit fa-fw"></i> Forms
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-wrench fa-fw"></i> UI Elements
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Panels and Wells
					</a>
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Buttons
					</a>
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Notifications 
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-sitemap fa-fw"></i> Multe-Level Dropdown
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Second Level Item 
					</a>
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Second Level Item 
					</a>
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Second Level Item 
					</a>
				</li>
				<li>				
					<a href="#" class="third-level">
						<i class="fa fa-angle-right fa-fw"></i> Third Level
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-third-level">
						<li>				
							<a href="#">
								<i class="fa fa-angle-double-right fa-fw"></i> Third Level Item 
							</a>
						</li>
						<li>				
							<a href="#">
								<i class="fa fa-angle-double-right fa-fw"></i> Third Level Item 
							</a>
						</li>
						<li>				
							<a href="#">
								<i class="fa fa-angle-double-right fa-fw"></i> Third Level Item 
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-files-o fa-fw"></i> Sample Pages
				<span class="fa arrow"></span>
			</a>
			<ul class="nav nav-second-level">
				<li>
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Blank Page
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-angle-right fa-fw"></i> Login Page
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>